<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ongs</title>
    <script src="tags.js"></script>
</head>
<body>
    <div id="ongs">
        <h2>Tags</h2><br/>
        <label>
            <input type="checkbox" class="checkbox-filtro" name="filtro" onclick="filtrarItens('doacao')"> Doação
        </label><br/>
        <label>
            <input type="checkbox" class="checkbox-filtro" name="filtro" onclick="filtrarItens('castracao')"> Castração
        </label><br/>
        <label>
            <input type="checkbox" class="checkbox-filtro" name="filtro" onclick="filtrarItens('adocao')"> Adoção
        </label><br/>
        <label>
            <input type="checkbox" class="checkbox-filtro" name="filtro" onclick="filtrarItens('vacinacao')"> Vacinação
        </label><br/>
        <label>
            <input type="checkbox" class="checkbox-filtro" name="filtro" onclick="filtrarItens('lazer')"> Lazer
        </label><br/>
        <label>
            <input type="checkbox" class="checkbox-filtro" name="filtro" onclick="filtrarItens('saude')"> Saúde
        </label>
        <!-- aqui é o mockup das ongs e petshops -->
        <article id="ongs-petshop">
            <img id="ongs-petshop-imagem" src="" alt="">
            <div id="dados">
                <p id="nome">"vamo bota o nome aqui"</p>
                <div id="descricao">
                    <p>Descrição:</p>
                    <p>"Vamos bota aqui a descrição para o site"</p>
                </div>
                <a id="site" href="">Link para o site</a>
            </article>
        </div>
    </div>
</body>
</html>