<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ongs</title>
</head>
<body>
    <div id="ongs">

        <!-- aqui é o mockup das ongs e petshops -->
        <article id="ongs-petshop">
            <img id="ongs-petshop-imagem" src="" alt="">
            <div id="dados">
                <p id="nome">"vamo bota o nome aqui"</p>
                <div id="descricao">
                    <p>Descrição:</p>
                    <p>"Vamos bota aqui a descrição para o site"</p>
                </div>
                <a id="site" href="">Link para o site</a>
            </article>
        </div>
    </div>
</body>
</html>