<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruffles</title>
    <link rel="shortcut icon" href="../img/pata.webp" type="image/x-icon">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/resultados_busca.css">
    <script type="module" src="../scripts/resultados-controller.js"></script>

</head>
<body>
    <div id="container">
        <header id="header">
            <a href="../index.html">
                <img id="logo" src="../img/logo.jpg" alt="logo ruffles.">
            </a>
            <nav id="menu">  
                <a href="contate_nos.html" id="contate-nos">Contate-nos</a>
                <div id="pesquisa_header">
                    <input type="text" name="texto" id="searchInput" placeholder="Pesquisar em Ruffles"></input>
                      <img  id="botao-limpar-pesquisa" src="../img/lixeira.png" alt="">
                </div>
                <button id="botao-barra-pesquisa">
                  <img  id="sherlockdog" src="../img/sherlockdog.webp" alt="cachorrinho vestido de sherlock holmes com lupa na mão que equivale ao botão de busca.">
                </button>
                <a href="favoritos.html">
                    <img  id="imagem_favoritos" src="../img/favoritos-selecionado.png" alt="ícone de coração que encaminha para a página de favoritos.">
                </a>
            </nav>
        </header>

        <div class="main-content">
            <section id="tags-section">
                <!-- Aba lateral da página de busca de pesquisa. COM FILTROS! -->
                    <h2>Tags</h2><br/>
                    <div id="filtros">
                        <label><input type="checkbox" value="vacinação" class="filter-checkbox"> Vacinação</label><br/>
                        <label><input type="checkbox" value="castração" class="filter-checkbox"> Castração</label><br/>
                        <label><input type="checkbox" value="lazer" class="filter-checkbox"> Lazer</label><br/>
                        <label><input type="checkbox" value="saúde" class="filter-checkbox"> Saúde</label><br/>
                        <label><input type="checkbox" value="adoção" class="filter-checkbox"> Adoção</label><br/>
                        <label><input type="checkbox" value="doação" class="filter-checkbox"> Doação</label><br/>
                        <label><input type="checkbox" value="eventos" class="filter-checkbox"> Eventos</label><br/>
                        <label><input type="checkbox" value="educacional" class="filter-checkbox"> Educacional</label><br/>
                    </div>
                    
                    
                <!-- Aqui ficarão outros conteúdos da página de resultado de busca. -->
            </section>
            
            <div id="postContainer" class="grid-container"></div>
        </div>
       

        

        <footer id="footer">
            <section id="creditos">
                <p>
                    Desenvolvido por: Danielle Guimarães, Julia Simão, Mariana Ribeiro e Vitória Carteri.<br/>
                    Projeto TWIST-2024
                </p>
            </section>
            <div id="conteudos-footer">
                <section id="versao">
                    <p>
                        ©Ruffles<br/>
                        Versão do site: 1.0
                    </p>     
                </section>
                <a href="https://github.com/twistpucrio/ruffles" target="_blank">
                    <img  id="github" src="../img/github.png" alt="logo do github.">
                </a>
                <a id="sobre-nos" href="sobre_nos.html">Sobre nós</a> 
            </div>
        </footer>

    </div>
</body>
</html>