<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ruffles - Sobre nós</title>
        <link rel="shortcut icon" href="../img/pata.webp" type="image/x-icon">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/sobre_nos.css">
    </head>
    <body>
        <div id="conteudo">
            
            <header id="header">
                <nav id="menu">
                    <a href="../index.html">Voltar</a>
                    <a href="contate_nos.html">Contate-nos</a>
                    <a href="favoritos.html">
                        <img  id="imagem_favoritos" src="../img/favoritos.webp" alt="ícone de coração que encaminha para a página de favoritos.">
                    </a>
                </nav>
            </header>

            <div id="logoGeral">
                <img id="logo-sobre-nos" src="../img/logo.jpg" alt="logo ruffles. ao apertar este ícone você será encaminhado para a página principal.">
            </div>

            <h1>
                <b>Ruffles</b>
            </h1>

            <h2>
                Tudo o que você precisa para cuidar de seu animalzinho!  
            </h2>

            <br/><br/><br/>

            <h1>
                <b>A equipe:</b>
            </h1>
        
            <div id ="fotos">
                <figure>
                    <img src="../img/Mariana.jpeg" alt="Mariana Ribeiro">
                    <legend><b>Mariana Ribeiro</b></legend>
                </figure>
                <figure>
                    <img src="../img/Vitoria.jpeg" alt="Vitoria Carteri">
                    <legend><b>Vitoria Carteri</b></legend>
                </figure>
                <figure>
                    <img src="../img/Julia.jpeg" alt="Julia Simao">
                    <legend><b>Júlia Simão</b></legend>
                </figure>
                <figure>
                    <img src="../img/Danielle.jpeg" alt="Danielle Guimaraes">
                    <legend><b>Danielle Guimarães</b></legend>
                </figure>
            </div>

            <br/><br/><br/><br/><br/>

            <h1 id="projeto">
                O projeto: 
            </h1>
            <p id="descricao"> 
                Estamos desenvolvendo um projeto voluntário, um site dedicado às causas animais, para facilitar o acesso a
                informações sobre eventos de apoio à saúde e bem-estar <br/> dos animais, como adoção, vacinação e castração,
                oferecidos de forma gratuita ou a baixo custo. Nosso objetivo é apoiar tanto as famílias quanto os 
                animais que <br/>precisam, promovendo iniciativas que fortalecem a comunidade e facilitam o acesso a recursos
                essenciais para o cuidado animal. <br/>
                Esse projeto está sendo desenvolvido como parte de um challenge de programação da Twist, envolvendo HTML,
                CSS e JavaScript. <br/>

                Para atender aos requisitos, estamos usando tags HTML semânticas para garantir uma estrutura bem organizada
                e acessível, além de folhas de estilo CSS externas e <br/>JavaScript em arquivos separados para melhor 
                modularidade. Também estamos integrando JSON e LocalStorage, para que as informações sobre eventos e dados
                do <br/>usuário sejam armazenadas de forma eficiente e acessível. A acessibilidade está no centro do projeto, 
                garantindo que todas as pessoas, independentemente de suas <br/> necessidades, possam usufruir plenamente dos 
                recursos da plataforma.
            </p>
        </div>
    </body>
</html>