*{
    margin: 0;
}
#footer {
    background-color: #bcd0cf;
    text-align: center;
    padding: 1rem;
}

#conteudos-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#versao p {
    margin: 0;
    font-size: 0.9em;
}

#github {
    height: 2rem;
    width: 2rem;
}

#sobre-nos {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* Responsividade para Footer */
@media screen and (max-width: 768px) {
    #footer {
        padding: 1.5rem;
    }

    #conteudos-footer {
        flex-direction: column;
        align-items: center;
    }

    #github, #sobre-nos {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 480px) {
    #footer {
        padding: 2rem;
    }

    #conteudos-footer {
        flex-direction: column;
        align-items: center;
    }

    #github, #sobre-nos {
        margin-bottom: 10px;
    }
}