@font-face { /* FONTE EXTERNA */
    font-family: 'fonte';
    src: url(../fonts/static/SourGummy-Medium.ttf);
}

html {
    background-color: #f4f7f6; /* Cor de fundo mais suave */
}

body {
    font-family: 'fonte', sans-serif;
    margin: 0; 
    color: #333; /* Cor do texto para melhor contraste */
}

#header {
    background-color: #bcd0cf;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo do header */
    align-items: center;
    padding: 2rem;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    gap: 3rem; /* Espaçamento entre logo e menu */
}

#logo {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}

#menu {
    display: flex;
    align-items: center;
    gap: 3rem; /* Espaçamento entre os itens do menu */
}

#menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 20px;
}

#contate-nos:hover {
    background-color: #b2c5c4; /* Muda cor no hover */
}

#menu input[type="text"] {
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

#botao-barra-pesquisa {
    background-color: #bcd0cf;
    color: #fff;
    border: none;
    padding: 0rem;
    cursor: pointer;
    border-radius: 25px;
}

#botao-limpar-pesquisa {
    background-color: #bcd0cf;
    color: #333;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'fonte', sans-serif;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 15px;
}

#botao-limpar-pesquisa:hover {
    background-color: #b2c5c4; /* Muda cor no hover */
}

#sherlockdog {
    height: 7rem;
    width: 7rem;
}

#botao-barra-pesquisa:hover {
    background-color: #b2c5c4;
}

#imagem_favoritos {
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
}

#imagem_favoritos:hover {
    background-color: #b2c5c4;
}