*{
    margin: 0;
}
#main {
    margin: 15px auto;
    text-align: center;
}

#banner {
    width: 100%;
    margin: 150px 0 0 0;
    height: auto;
    object-fit: cover;
}


.carousel {
    position: relative;
    width: 90%;
    max-width: 1200px;
    height: 60vh;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.carousel-item {
    flex: 0 0 100%;
    display: none;
    height: 100%;
    background-size: cover;
    background-position: center;
    align-items: flex-end;
    justify-content: center;
}

.carousel-caption {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #bcd0cfae;
    color:black;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
    max-width: 90%;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #bcd0cf;
    color:ffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.5em;
    z-index: 10;
    transition: background-color 0.3s;
}

.carousel-button:hover {
    background-color:#98b6b38a;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-item.active {
    display: flex;
}

@media screen and (max-width: 1024px) {
    .carousel {
        height: 50vh;
    }

    .carousel-caption {
        font-size: 1em;
    }

    .carousel-button {
        padding: 8px;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 768px) {
    .carousel {
        height: 50vh;
    }

    .carousel-caption {
        font-size: 1em;
    }

    .carousel-button {
        padding: 8px;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 480px) {
    .carousel {
        height: 40vh;
    }

    .carousel-caption {
        font-size: 0.9em;
    }

    .carousel-button {
        padding: 6px;
        font-size: 1em;
    }
}


#vejamais {
    text-align: center;
    margin: 20px 0;
}

#navvejamais {
    display: flex;
    justify-content: center;
}

#avejamais {
    text-decoration: none;
    color: black;
    padding: 1rem;
    background-color: #bcd0cf;
    border-radius: 1rem;
    font-size: larger;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#avejamais:hover{
    background-color:#98b6b38a;
}