.main-content {
  display: flex;
  flex-direction: row;
}

#tags-section {
  min-width: 7rem;
}

/* style.css */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Ensures 3 columns */
  gap: 20px;
  padding: 20px;
}

.card {
  border: 5px solid #bcd0cf;
  border-radius: 20px;
  padding: 16px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  font-size: 1.2em;
  margin: 12px 0;
}

.card p {
  font-size: 0.9em;
  color: #666;
}
